@import "tailwindcss";

.hero {
    background-image: url('./assets/header-bg.jpg');
}

.custom-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


@media (max-width: 768px) {
    .custom-container {
        width: 95%;
        padding: 15px;
    }
}


@media (max-width: 480px) {
    .custom-container {
        width: 90%;
        padding: 10px;
    }
}


.swiper-button-next, .swiper-button-prev {
    color: #fff;
    font-size: 20px !important;
    
}